<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksh.soundstory.mappers.PlaylistSongMapper">


    <insert id="addSongToPlaylist" parameterType="com.ksh.soundstory.entities.PlaylistSongEntity">
        INSERT INTO `ss`.`playlist_songs` (`playlist_index`, `song_id`)
        VALUES (#{playlistIndex}, #{songId})
    </insert>

    <delete id="deleteSongFromPlaylist">
        DELETE
        FROM `ss`.`playlist_songs`
        WHERE `song_id` = #{songId}
    </delete>

    <select id="selectSongsByPlaylistIndex" resultType="com.ksh.soundstory.entities.SongEntity">
        SELECT `T2`.song_id            AS `songId`,
               `T2`.image_data         AS `imageData`,
               `T2`.image_content_type AS `imageContentType`,
               `T2`.image_file_name    AS `imageFileName`,
               `T2`.title              AS `title`,
               `T2`.artist_id          AS `artistId`,
               `T2`.album_id           AS `albumId`,
               `T2`.data_video_id      AS `dataVideoId`,
               `T2`.duration           AS `duration`,
               `T3`.`name`             AS `artistName`
        FROM `ss`.`playlist_songs` AS `T1`
                 LEFT JOIN `ss`.`song` AS `T2` ON T1.song_id = T2.`song_id`
                 LEFT JOIN ss.artist AS T3 ON T2.artist_id = T3.artist_id
        WHERE T1.playlist_index = #{playlistIndex}
    </select>

</mapper>
